.testimonials {
  width: 90vw;
  display: flex;
  flex-direction: column;

  .testimonial-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .testimonials-array {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 10px;
    gap: 30px;
  }

  .testimonial-component {
    flex-basis: 30vw;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;

    background-color: #def4ed;
    box-shadow: #5bb297 4px 4px 0 0;

    .rating {
      display: flex;
      flex-direction: row;
      gap: 3px;

      .rating-item {
        background-color: #22c55d;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .testimonial-title {
      margin: 0;
    }

    .testimonial-text {
      margin: 0;
    }

    .profile {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;

      .profile-avatar {
        width: 60px;
        border-radius: 50%;
      }

      .profile-name {
        display: inline;
        font-size: 13px;
      }

      .profile-position {
        font-size: 10px;
      }
    }
  }
}
